{% extends 'layout.html' %}
{% block header %}
<header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Flask Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Flask Blog created by Viktro</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
  <h1>About Me</h1>
  <p>My name is Viktor I graduated from the Khmelnitsky National University, specializing in Computer Engineering, now I find in Lviv I attend Python courses from Main Academy.
I have a great survey in the site of more than 30 projects</p>
	<h3>My SV is : <a href="https://drive.google.com/open?id=0BxgAoYzX46X6Rkk5RXNDZ3MzRlU">link <i class="fa fa-paper-plane"></i></a></h3>
{% endblock %}
